body{
    background: rgb(41, 44, 41);
}
#powered{
    margin: 10px;
    width: 15%;
}
.gifImage{
    margin:10px;
    border-radius:10px;
    box-shadow: 5px 5px 5px #00000060;
}
.btn-danger{
    margin:10px;
    width: 90px;
}